<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>    
    <add key="LogFileLocation" value="C:\Logs" />
    <!--<add key="UID" value="SSE_API_User" />
    <add key="PWD" value="Password!1" />-->
    <add key="UID" value="DevOpsAPIUser" />
    <add key="PWD" value="P@ssword1" />
    <!--<add key="UID" value="HCA\NPU7286" />
    <add key="PWD" value="S@1Krishna" />-->
    <add key="JIRABaseURL" value="https://jira.app.medcity.net/j/rest/api/2/" />
  </appSettings>
</configuration>