<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>    
    <add key="LogFileLocation" value="C:\Logs" />   
    <add key="UID" value="DevOpsAPIUser" />
    <add key="PWD" value="" />  
    <add key="JIRABaseURL" value="https://jira.app.medcity.net/j/rest/api/2/" />
  </appSettings>
</configuration>